.selector{
    height: 40px;
    margin-top: 15px;
    width: 150px;
    padding-left: 10px;
   
    border:0;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 10px 0px;
    font-size: 12px;
   
}
select {
    -webkit-appearance: none;

}
.selector_Dark{
    color: white;
    background-color: rgb(43, 55, 67);
}
